nav {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    gap:2 rem;

    background-color:lightseagreen;
    height: 70px;
  }
  
  nav ul {
    display: flex;
    list-style-type: none;
  }
  
  nav ul li {
    margin: 10px 10px;
    padding: 0 0px;
  }
  
  nav ul li a {display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-decoration: none;
    font-size: 20px;
  }
  
  .size {
    font-size: 50px;
    text-align: center;
  }
  
  h3 {
    font-size: 25px;
    text-align: center;
  }
.fly{
    display:flex;
    width: 60px;
}
  
  .diff {
    background-color: black;
    color: red;
    padding-bottom: 11px;
    font-size: 17px;
  }
  
  .diff a {
    text-decoration: none;
    color: white;
    padding-bottom: 30px;
  }
  
  .last {
    text-align: center;
  }