/* .image {
    width: 160px;
    height: 140px;
    border-image-width: 2px;
    
  } */
  
  nav {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    gap:2 rem;

    background-color: black;
  }
  
  nav ul {
    display: flex;
    list-style-type: none;
  }
  
  nav ul li {
    margin: 10px 10px;
    padding: 0 0px;
  }
  
  nav ul li a {display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-decoration: none;
  }
  
  .size {
    font-size: 50px;
    text-align: center;
  }
  
  h3 {
    font-size: 25px;
    text-align: center;
  }
.fly{
    display:flex;
    width: 60px;
}
  
  .diff {
    background-color: black;
    color: red;
    padding-bottom: 11px;
    font-size: 17px;
  }
  
  .diff a {
    text-decoration: none;
    color: white;
    padding-bottom: 30px;
  }
  
  .last {
    text-align: center;
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
  }
  
  .container {
    width: 100%;
    min-height: 15%;
    padding: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .searchbar {
    width: 100%;
    max-width: 700px;
    background-color: rgba(255, 255, 255, 0.2);
    display: flex;
    align-items: center;
    border-radius: 60px;
    padding: 10px 20px;
    text-align: center;
  }
  
  .searchbar input {
    background: transparent;
    flex: 1;
    border: 0;
    outline: none;
    padding: 24px 20px;
    font-size: 20px;
    color: #cac7ff;
  }
  
  .searchbar button img {
    width: 50px;
  }
  .bod{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .text{
    text-align: center;
    font-weight: bold;
  }
  
  .crew
  {
    width: 60%;
    height: 10%;
    
    
  }
  